<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="all.css"/>

        <style>
            * {
              box-sizing: border-box;
            }

            .background-image {
              background-image: url('background.jpg');
              background-size: cover;
              display: block;
              filter: blur(5px);
              -webkit-filter: blur(5px);
              height: 800px;
              left: 0;
              position: fixed;
              right: 0;
              z-index: 1;
            }

            .content {
              background: rgba(255, 255, 255, 0.35);
              border-radius: 3px;
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
              font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
              top: 10px;
              left: 0;
              position: fixed;
              margin-left: 20px;
              margin-right: 20px;
              right: 0;
              z-index: 2;
              padding: 0 10px;
            }
        </style>
    </head>

<div class="background-image"></div>

<div class="content">

<center>
<p><button id="download" type="button" class="fas fa-arrow-left" style="font-size:20px;color:#27AE60;padding: 5px 30px;" onclick="location.href='..'"></button></p>
</center>

<table cellpadding="2" width="100%">
    <tr>
        <th>
        Actions
        </th>
        <th>
        Name
        </th>
        <th>
        Size
        </th>
    </tr>
{{#each recfiles}}
    <tr>
        <td align="center">
        <button id="download" type="button" class="fas fa-file-download" style="font-size:20px;color:#3498DB;padding: 5px 30px;" onclick="location.href='{{filename}}'">&nbsp;.rec</button>
        <button id="deleteFile" type="button" class="far fa-trash-alt" style="font-size:20px;color:#555;padding: 5px 30px;" onclick="deleteFile('{{filename}}')"></button>
        </td>
        <td align="left">
        {{name}}
        </td>
        <td align="right">
        {{size}} bytes
        </td>
    </tr>
{{/each}}
</table>
</div>

<script>
function deleteFile(val) {
    if (confirm("Do you really want to delete '" + val + "'?")) {
        fetch('/deleterecordingfile', { method: 'post',
                            headers: {
                                'Accept': 'application/json, text/plain, */*',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({recordingFileToDelete: val})
                           }
        )
        .then(function(response) {
            if(response.ok) {
                location.reload();
                return;
            }
            throw new Error('Request failed.');
            })
        .catch(function(error) {
            console.log(error);
        });
    }
}
</script>

</body>
</html>

