<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Recordings for download</title>
</head>
<body>

<a href="..">Back</a><br>

{{#each recfiles}}
    <a href="{{filename}}">{{name}}</a> ({{size}} bytes)<br>
{{/each}}

</body>
</html>
